html {
    font-size: 18px;
    font-family: "calibri", sans-serif;
    color: gainsboro;
    background: rgb(0,157,189);
    background: linear-gradient(45deg, rgba(0,157,189,1) 0%, rgba(17,17,126,1) 100%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

svg {
    position: sticky;
    top:0;
    height: auto;
    width: 100%;
    height: 100vh;
}
    .SVGWrapper {
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
    }

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    #VersionNumber {
        margin-left: 2em;
    }
    #HeaderButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .button {
        position: relative;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 84px;
        border-radius: 0.5em;
    }
    .overlay:hover {
        background-color: gold;
        opacity: 0.2;
    }

.MainContent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1em;
    padding: 2em;
    max-width: 1440px;
}

nav {
    min-width: 200px;
    position: sticky;
    top: 2em;
    height: min-content;
}
    ul {
        list-style-type: none;
        padding-inline-start: 1em;
        margin:0.2em 0 0.2em 0;
    }
    li {
        margin: 0.2em 0 0.2em 0;
    }
    .NavOption {
        transition: font-size 0.2s, color 0.2s;
        text-wrap: nowrap;
    }
    .NavOption:hover {
        font-size: 24px;
        font-weight: bolder;
        color: gold;
    }
    a {
        scroll-behavior: smooth;
    }

main {
    height: 100%;
}
    .ContentPanel {
        border-radius: 1em;
        padding: 2em;
        margin: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.5) 100%);    }
    .ContentPanel p {
        font-size: 22px;
    }
    .SplashImage {
        width: 100%;
    }
    .HorizontalLineSeparator {
        border: 1px solid cyan;
        width: 80%;
    }